<launch>
  <arg name="world_path" default="$(find avoidance)/sim/worlds/test_city_2.world"/>
  <arg name="launch_rviz" default="true"/>
  <arg name="rviz_config" default="$(find parallel_planner)/resource/parallel_planner.rviz"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_path)"/>
  </include>

  <include file="$(find parallel_planner)/launch/uav_group.launch.xml">
    <arg name="uav_name" value="uav1"/>
    <arg name="x" value="0"/>
    <arg name="y" value="0"/>
    <arg name="z" value="1"/>
    <arg name="fcu_url" value="udp://:14540@127.0.0.1:14551"/>
    <arg name="tgt_system" value="1"/>
    <arg name="px4_config" value="$(find parallel_planner)/config/px4_config_uav1.yaml"/>
  </include>

  <include file="$(find parallel_planner)/launch/uav_group.launch.xml">
    <arg name="uav_name" value="uav2"/>
    <arg name="x" value="5"/>
    <arg name="y" value="0"/>
    <arg name="z" value="1"/>
    <arg name="fcu_url" value="udp://:14541@127.0.0.1:14552"/>
    <arg name="tgt_system" value="2"/>
    <arg name="px4_config" value="$(find parallel_planner)/config/px4_config_uav2.yaml"/>
  </include>

  <include file="$(find parallel_planner)/launch/uav_group.launch.xml">
    <arg name="uav_name" value="uav3"/>
    <arg name="x" value="-5"/>
    <arg name="y" value="0"/>
    <arg name="z" value="1"/>
    <arg name="fcu_url" value="udp://:14542@127.0.0.1:14553"/>
    <arg name="tgt_system" value="3"/>
    <arg name="px4_config" value="$(find parallel_planner)/config/px4_config_uav3.yaml"/>
  </include>

  <node pkg="rviz" type="rviz" name="parallel_planner_rviz" args="-d $(arg rviz_config)" if="$(arg launch_rviz)"/>
</launch>
